! special
*.cursorColor:  #ff9a7a

*.foreground:   #eef1e7
*.background:   #242327

*.color0:       #242327
*.color8:       #4E4B58
*.color1:       #e2738f
*.color9:       #f1b0c1
*.color2:       #73E2C7
*.color10:      #b0f1e1
*.color3:       #c773e2
*.color11:      #e1b0f1
*.color4:       #738fe2
*.color12:      #b0c1f1
*.color5:       #e273c6
*.color13:      #f1b0e1
*.color6:       #73c6e2
*.color14:      #b0e1f1
*.color7:       #c3c9b0
*.color15:      #eef1e7

URxvt.cursorColor:  [90]#ff9a7a
URxvt.foreground:   [95]#ffffff
URxvt.background:   [60]#000000
URxvt.color0:       [95]#000000
URxvt.color8:       [95]#4E4B58
URxvt.color1:       [95]#e2738f
URxvt.color9:       [95]#f1b0c1
URxvt.color2:       [95]#73E2C7
URxvt.color10:      [95]#b0f1e1
URxvt.color3:       [95]#c773e2
URxvt.color11:      [95]#e1b0f1
URxvt.color4:       [95]#738fe2
URxvt.color12:      [95]#b0c1f1
URxvt.color5:       [95]#e273c6
URxvt.color13:      [95]#f1b0e1
URxvt.color6:       [95]#73c6e2
URxvt.color14:      [95]#b0e1f1
URxvt.color7:       [95]#c3c9b0
URxvt.color15:      [95]#ffffff

URxvt.perl-ext-common: resize-font,

URxvt.keysym.C-Down:   resize-font:smaller
URxvt.keysym.C-Up:     resize-font:bigger

URxvt.cursorUnderline: 1

URxvt.scrollBar:       false
!URxvt.skipBuiltinGlyphs:true
URxvt.intensityStyles: false


URxvt.letterSpace:    -1
URxvt.font:            xft:MonteCarlo Fixed 12:size=12,xft:M+ 1p medium,xft:Inconsolata Nerd Font Mono
URxvt.boldFont:        xft:MonteCarlo Fixed 12:bold:size=12,xft:M+ 1p heavy,xft:Inconsolata Nerd Font Mono

URxvt*depth:           32
URxvt.internalBorder:  12
URxvt.keysym.Home:     \033[1~
URxvt.keysym.End:      \033[4~
URxvt.keysym.KP_Home:  \033[1~
URxvt.keysym.KP_End:   \033[4~
